//背景颜色
$color-theme = #409EFF
$color-lighttheme = #83d9ff

$color-background = #EFEFEF
$color-background-d= rgba(0,0,0,0)
$color-background-content = #ffffff
$color-start = #FD7049
$color-middle = #FDA86A
$color-end = #FDA990
$color-gap = #E5E5E5

//字体颜色
$color-text-white = #ffffff
$color-text = #1F1F1F
$color-text-gray = #C5C5C5
$color-text-graydark = #8F8F8F
$color-line-gray = #e5e5e5

//字体定义规范
$font-size-small-s = 22px
$font-size-small = 28px
$font-size-small-x = 30px
$font-size-medium = 32px
$font-size-medium-x = 36px
$font-size-large = 40px
$font-size-large-x = 50px
$font-size-large-xl = 60px

//行高定义规范
$button-height = 90px
$line-height-m = 70px
$line-height-l = 80px

//留白和导航条高度
$nav-height = 88px
$nav-blank = 40px
$nav = 128px
$nav-type = 135px
$tasktype-height = 35px
$section-gap = 10px
$li-gap = 12px
